.custom2-button {
  font-family: 'Kanit', sans-serif;
  font-size: 0.9375rem;
  display: inline-block;
  margin-top: 0.625rem;
  color: white;
  border: 1px solid white;
  border-radius: 3.125rem;
  padding: 0.625rem 1.875rem;
  background-color: transparent;
  transition: all 0.3s ease;
}

.custom2-button:hover {
  background-color: white;
  color: black;
}

//-------- Responsive design-----------//
@media (min-width: 1200px) {
  .m-n10 {
    margin-left: -3.4375rem;
  }

  .m-n15 {
    margin-left: -6.25rem;
  }
}


@media (min-width: 576px) {
  .m-n10 {
    margin-left: -3rem;
  }
}


@media (max-width: 1200px) and (min-width: 576px) {
  .custom2-button {
    position: relative;
    top: 11.25rem;
    left: 2.5rem;
    right: 0.625rem;
  }
  .about .left-column,
  .about .right-column {
    
    justify-content: center;
  }
}
@media (max-width:576px) {

  .about h3 {
    font-size: 1rem;
  }

  .about p {
    font-size: 0.6875rem;
  }

  .about .left-column,
  .about .right-column {
    
    justify-content: center;
  }

}