 .blending{
  top: 3.75rem;
 } 
 .custom-rounded-left {
     object-fit: cover; 
 
}


/* Responsive design */
@media (max-width: 768px) {
  .blending-bg {
    border-radius: 0;
    min-height: 15.625rem;
  }

  .blending-section .row {
    flex-direction: column;
  }

  .hire-btn {
    margin-top: 1.25rem;
  }
}
