/* Input styling */
.custom-input {
  background-color: $primary; 
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  outline: none;
}



/* Responsive tweaks */
@media (max-width: 767px) {
  .custom-button {
    margin-top: 10px;
  }
}

