/* Input styling */
.custom-input {
  background-color: $primary; 
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.625rem 0.9375rem;
  outline: none;
}

/* Responsive design */
@media (max-width: 767px) {
  .custom-button {
    margin-top: 0.625rem;
  }
}



