/* Navbar links */
.navbar .nav-link {
  color: white;
  font-size: 1rem;
  transition: color 0.3s ease;

  &:hover {
    color: black;
  }
}

/* Custom button */
.custom-button {
  font-family: 'Kanit', sans-serif;
  font-weight: 25rem;
  font-size: 1rem;
  color: white;
  padding: 0.5rem 1.875rem;
  border-radius: 3.125rem;
  border: 1px solid white;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  display: inline-block;

  &:hover {
    color: black;
    transform: scale(1.05);
  }
}
/* Responsive design */
@media (max-width: 480px) {
  .custom-button {
    font-size: 0.875rem;
    padding: 0.375rem 1.25rem;
  }
}

.text-center .custom-button {
  margin: 0 auto;
}
