// ------- Custom Variables ------- //

// Theme Colors
$primary: #191D1D;
$secondary: #131616;
$charcoal-black:#212828 ;
$nutral-gray: #6D7D7D;
$light-gray: #D9D9D9;


// Custom theme colors
$custom-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "charcoal-black": $charcoal-black,
  "nutral-gray": $nutral-gray,
  "light-gray": $light-gray,
);

// Container width
$custom-container-max-widths: (
  xxl: 1140px
);

// Font families
$heading-font-family: "Kanit", sans-serif;
$font-family-base: "Nunito", sans-serif;

// Font colors
$body-bg: $primary;
$body-color: #fff;


// Font sizes
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2.5;

// Spacers
$spacer: 10px;
$spacers: (
  0: 0,
  1: $spacer * 0.5,  // 5px
  2: $spacer * 1,    // 10px
  3: $spacer * 1.5,  // 15px
  4: $spacer * 2,    // 20px
  5: $spacer * 3,    // 30px
  6: $spacer * 3.5,  // 35px
  50: $spacer * 5,   // 50px
  60: $spacer * 6,   // 60px
  70: $spacer * 7,   // 70px
  80: $spacer * 8,   // 80px
  100: $spacer * 10, // 100px
  200: $spacer * 20, // 200px
  250: $spacer * 25  // 250px
);



// Position Values
$position-values: (
  0: 0,
  5: 5%,
  10: 10%,
  15: 15%,
  50: 50%,
  100: 100%,
);

// Navigation
$nav-link-color: #fff;


// ------- Bootstrap Import Order ------- //
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";



// Map overrides
$container-max-widths: map-merge($map1: $container-max-widths, $map2: $custom-container-max-widths );
$theme-colors: map-merge($map1: $theme-colors, $map2: $custom-colors );



// Bootstrap Main 
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Our Custom Partials
@import './header.scss';
@import './banner_section';
@import './blending_creativity';
@import './team_section';
@import './blog_section';
@import './footer.scss';





.m-n1{
  margin-left: -20px;

}









// ------- Base Typography ------- //


h1,h2,h3,h4,h5,h6 {
  font-family: $heading-font-family;
}
